<div>
  <div *ngIf='mode=="quiz" && exam'>
    <h2>Your practice exam is here!</h2>
    <div *ngFor='let question of exam.questions'>
      <span>{{question.text}}</span>
      <div class="row text-left options">
        <div class='col-6' *ngFor='let option of question.options'>
          <div class='option'>
            <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
            <label for='{{option.id}}'>{{option.text}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mode=='result'">
    <h2>Quiz Result</h2>
    <div *ngFor="let question of exam.questions; let index = index">
      <div>
        <h5>{{index + 1}}. {{question.text}}</h5>
        <div>
          <div *ngFor="let option of question.options">
            <input id="{{option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="option.selected" /> {{option.text}}
          </div>
        </div>
        <div style="color: green;" *ngIf="isCorrect(question)=='correct'">
          <strong>Your answer is {{isCorrect(question)}}.</strong>
        </div>
        <div style="color: red;" *ngIf="isCorrect(question)!='correct'">
          <strong>Your answer is {{isCorrect(question)}}.</strong>
          <div *ngIf='question.wrongAnswerComment!=""'>{{question.wrongAnswerComment}}</div>
        </div>
      </div>
    </div>
    <div>
      <strong>Total {{totalCorrectAnswered()}} / {{totalQuestions()}} </strong>
    </div>
  </div>

  <div *ngIf='mode=="quiz" && exam'>
    <button class="btn btn-primary" (click)="onSubmit();">Submit Quiz</button>
  </div>
</div>