<h2>Your practice exam is here!</h2>
<form method="post">
<!--
  <ul>
    <li *ngFor="let question of exam.questions">
      <p>{{ question.text }}</p>
      <div>
        <ul>
          <li *ngFor="let option of question.options">
              <input type="radio" id='{{option.id}}' value='{{option.id}}'>
              <label for='{{option.id}}'>{{option.text}}</label>
          </li>
        </ul>
      </div>
    </li>
</ul>
-->

<div *ngFor='let question of exam.questions'>
  <span>{{question.text}}</span>
  <div>
    <div *ngFor='let option of question.options'>
      <div>
          <input id='{{option.id}}' type="checkbox" [(ngModel)]="option.Selected" (change)="onSelect(question, option);" />
          <label for='{{option.id}}'>{{option.text}}</label>
      </div>
    </div>
  </div>
</div>