<h2>Your practice exam is here!</h2>
<form method="post">
<!--
  <ul>
    <li *ngFor="let question of exam.questions">
      <p>{{ question.text }}</p>
      <div>
        <ul>
          <li *ngFor="let option of question.options">
              <input type="radio" id='{{option.id}}' value='{{option.id}}'>
              <label for='{{option.id}}'>{{option.text}}</label>
          </li>
        </ul>
      </div>
    </li>
</ul>

  <div *ngFor="let question of filteredQuestions;">
    <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
    <h3 class="font-weight-normal">{{pager.index + 1}}. <span [innerHTML]="question.name"></span></h3>
    <div class="row text-left options">
      <div class="col-6" *ngFor="let option of question.options">
        <div class="option">
          <label class="font-weight-normal" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
              {{option.name}}
          </label>
        </div>
      </div>
    </div>
  -->

<div *ngFor='let question of exam.questions'>
  <span>{{question.text}}</span>
  <div>
    <div *ngFor='let option of question.options'>
      <div>
          <input id='{{option.id}}' type="checkbox" />
          <label for='{{option.id}}'>{{option.text}}</label>
      </div>
    </div>
  </div>
</div>